<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Route for UWC 2.0</title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1000px;
				height: 600px;
      }
    </style>
  </head>
  <body>
    <div id='map'></div>
    <script>
    // add the JavaScript here
		mapboxgl.accessToken = 'pk.eyJ1Ijoia2llbnRyMjAwMDIiLCJhIjoiY2xiOW1iOHp0MHZ6aDN2bW1wZ3NuZjhreCJ9._1zBcDdbJSmfJtVbD7msOA';
			const map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v12',
				center: [106.80541961248801, 10.880769411409007], // starting position
				zoom: 11
			});

			// an arbitrary start will always be the same
			// only the end or destination will change
			const start = [106.80541961248801, 10.88076941140900];
			//Change finish marker here
			const finish = [106.66260102729625, 10.77604846217696];
			//
			//106.70525841063593, 10.787827951537764
			//106.6584953670688, 10.82024771879645
			//106.69812808550245, 10.772727587486118 
			//106.66260102729625, 10.77604846217696
			// this is where the code for the next step will go
						// create a function to make a directions request
			async function getRoute(end) {
				// make a directions request using cycling profile
				// an arbitrary start will always be the same
				// only the end or destination will change
				const query = await fetch(
					//Change location of finish marker is here by finish[0], finish[1]
					`https://api.mapbox.com/directions/v5/mapbox/cycling/${start[0]},${start[1]};${finish[0]},${finish[1]}?steps=true&geometries=geojson&access_token=${mapboxgl.accessToken}`,
					{ method: 'GET' }
				);
				const json = await query.json();
				const data = json.routes[0];
				const route = data.geometry.coordinates;
				const geojson = {
					type: 'Feature',
					properties: {},
					geometry: {
						type: 'LineString',
						coordinates: route
					}
				};
				// if the route already exists on the map, we'll reset it using setData
				if (map.getSource('route')) {
					map.getSource('route').setData(geojson);
				}
				// otherwise, we'll make a new request
				else {
					map.addLayer({
						id: 'route',
						type: 'line',
						source: {
							type: 'geojson',
							data: geojson
						},
						layout: {
							'line-join': 'round',
							'line-cap': 'round'
						},
						paint: {
							'line-color': '#3887be',
							'line-width': 5,
							'line-opacity': 0.75
						}
					});
				}
				// add turn instructions here at the end
			}

			map.on('load', () => {
				// make an initial directions request that
				// starts and ends at the same location
				getRoute(start);

				// Add starting point to the map
				map.addLayer({
					id: 'point',
					type: 'circle',
					source: {
						type: 'geojson',
						data: {
							type: 'FeatureCollection',
							features: [
								{
									type: 'Feature',
									properties: {},
									geometry: {
										type: 'Point',
										coordinates: start
									}
								}
							]
						}
					},
					paint: {
						'circle-radius': 10,
						'circle-color': '#3887be'
					}
				});
			});
			map.on('load', (event) => {
  const end = {
    type: 'FeatureCollection',
    features: [
      {
        type: 'Feature',
        properties: {},
        geometry: {
          type: 'Point',
          coordinates: finish
        }
      }
    ]
  };
  if (map.getLayer('end')) {
    map.getSource('end').setData(end);
  } else {
    map.addLayer({
      id: 'end',
      type: 'circle',
      source: {
        type: 'geojson',
        data: {
          type: 'FeatureCollection',
          features: [
            {
              type: 'Feature',
              properties: {},
              geometry: {
                type: 'Point',
                coordinates: finish
              }
            }
          ]
        }
      },
      paint: {
        'circle-radius': 10,
        'circle-color': '#3887be'
      }
    });
  }
  getRoute(finish);
	
});
	 </script>
	 
  </body>
</html>