*{
    margin: 0;
}

#header {
    margin-top: 2rem;
    width: auto;
    background-color: #fff;
    border-radius: 28px;
    box-shadow: 2px 2px 8px #cbc2c2;
    padding: 0.5rem;
}

#header .icon{
    width: 2rem;
    height: 2rem;
}

#header .info-container{
}

#header .avatar img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
}

#header .position {
    margin: 0;
}