@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
#CALENDAR .container {
    position: fixed;
    top: 20%;
    left: 13%;
    width: 84%;
    height: 75%;
}
#CALENDAR .cal {
    margin-bottom: 4rem;
    padding: 0;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

#CALENDAR .turn {
    color: #717171;
    border: #717171 solid 0.15rem;
    border-radius: 0.8rem;
    padding-top: 0.6rem;
}


#CALENDAR .turn:nth-of-type(1) {
    margin-right: 0.5rem;
}

#CALENDAR .turn:hover {
    border: #5274ff solid 0.15rem;
    color: #5274ff;
    background-color: #ced5f0;
    transition: ease-in-out .4s;
}

#CALENDAR .tHead {
    background-color: #fff;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    margin: 2rem 0;
}

#CALENDAR table {
    background-color: #fff;
    margin: 0;
    border-radius: 0 0 2rem 2rem;
}

#CALENDAR .weekdays {
    color: #717171;
}

#CALENDAR .today {
    color: #5274ff;
}

#CALENDAR .box {
    height: 5rem;
    min-width: 6rem;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0 !important;
}

#CALENDAR .box:hover {
    font-weight: bold;
    transition-duration: 0.1s;
}

/* GROUP EVENT */

#CALENDAR .taskBtn {
    max-width: 6rem;
    border-radius: 0.8rem;
    margin: 0 0 0.3rem 0;
    background-color: #5274ff;
    color: #fff;
    padding: 0.05rem 0.5rem;
    font-size: 0.7rem;
    font-weight: 700;
}
#CALENDAR .btn-change-month-container{
    display: flex;
    flex-direction: row;
}
#CALENDAR .green {
    background-color: #a4d254;
    font-weight: 500;
}

#CALENDAR .gray {
    background-color: #d7d7d7;
    color: #000;
    font-weight: 500;
}

#CALENDAR .taskBtn:hover {
    background-color: #7c90e0;
    transition: ease-in-out .4s;
}

#CALENDAR .green:hover {
    background-color: #98b861;
}

#CALENDAR .gray:hover {
    background-color: #b6b6b6;
}

/* SHOW TASK */

#CALENDAR .taskd {
    margin: 0.3rem 0;
    font-weight: 300;
}

#CALENDAR .edit {
    background-color: #5274ff;
    color: #fff;
    font-weight: 700;
}

#CALENDAR .delete {
    background-color: rgb(193, 73, 73);
    color: #fff;
    font-weight: 700;
}

#CALENDAR .edit:hover{
    background-color: #7386d1;
    transition: ease-in-out .4s;
}

#CALENDAR  .delete:hover {
    background-color:  rgb(154, 70, 70);
    transition: ease-in-out .4s;
}